[Desktop Entry]
Type=Application
Name=${APP_FRIENDLY_NAME}
Icon=${APP_ID}
Comment=${APP_SUMMARY}
Exec=${DESKTOP_EXEC}
TryExec=${DESKTOP_EXEC}
Categories=Utility
Terminal=true
MimeType=
Keywords=