[Desktop Entry]
Type=Application
Name=${APP_FRIENDLY_NAME}
Icon=${APP_ID}
Comment=${SHORT_SUMMARY}
Exec=${DESKTOP_EXEC}
TryExec=${DESKTOP_EXEC}
Terminal=${IS_TERMINAL_APP}
Categories=${PRIME_CATEGORY}
MimeType=
Keywords=